@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 100% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 0 0% 80%;
    --input: 25 5% 46%;

    --card: 60 5% 96%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 30 0% 13%;
    --primary-foreground: 129 46% 25%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 0 0% 97%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5em;

    --font-inter: var(--font-inter);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
}

@layer base {
  body {
    @apply flex min-h-screen flex-col bg-background text-foreground;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.card {
  perspective: 800px;
}

.card__content {
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateX(0.5turn);
}

.card__front,
.card__back {
  backface-visibility: hidden;
}
.card__back {
  transform: rotateX(0.5turn);
}
